mixin section({ title })
    .section&attributes(attributes)
        h2.section__title= title
        .section__content
            block

mixin section-row(options)
    -const { type, align, verticalAlign } = options || {};
    - 
        const modifiers = [
            type ? `section__row_type_${type}` : '',
            align ? `section__row_align_${align}` : '',
            verticalAlign ? `section__row_vertical-align_${verticalAlign}` : ''
        ]
    .section__row(class = modifiers)
        block

mixin section-column(options)
    -const { type } = options || {};
    - 
        const modifiers = [
            type ? `section__column_type_${type}` : ''
        ]
    .section__column(class = modifiers)
        block

mixin section-item(options)
    -const { type } = options || {};
    - 
        const modifiers = [
            type ? `section__item_type_${type}` : ''
        ]
    .section__item(class = modifiers)
        block

mixin section-form(options)
    -const { action='', method='' } = options || {};
    form.section__form(action = action, method = method)
        block